@media (max-width: 1366px) {
  .preview {
    flex-direction: column;
    align-items: center;
  }

  .header__aside {
    margin-left: auto;
  }

  .nav-list__item {
    margin-left: 50px;
  }

  .preview__list {
    position: initial;
    transform: initial;
    margin-top: 5px;
    order: 2;
    display: flex;
    justify-content: space-between;
  }

  .preview__item {
    margin-bottom: 0px;
    margin-right: 15px;
  }

  .preview__item:last-child {
    margin-right: 0px;
  }

  .products__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .search__icon {
    width: 20px;
    height: 20px;
  }

  .search__input {
    border: none;
    width: 5px;
    height: 34px;
  }

  .search__input:focus {
    transition: 1s;
    border: solid 1px rgba(151, 151, 151, 0.29);
    width: 200px;
  }

  .header__search:focus {
    transition: 3s;
    width: 550px;
  }
}

@media (max-width: 1024px) {
  .menu-label {
    display: initial;
    border-radius: 0;
    opacity: 0.5;
    border-top: 2px solid #2b2b2b;
    border-bottom: 2px solid #2b2b2b;
  }

  .header__aside-link {
    display: none;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .wrapper {
    max-width: calc(100% - 30px);
    justify-content: space-between;
  }

  .header__nav {
    margin-left: 0;
  }

  .nav-list {
    z-index: 1;
    margin-top: 1px;
    width: 100%;
    background: #ffffff;
    position: absolute;
    text-align: center;
    left: -100%;
    transition: 1s ease;
    flex-direction: column;
  }

  .nav-list__item {
    margin-left: 0px;
    font-size: 20px;
    opacity: 0.5;
  }

  .nav-list__link {
    padding: 5px;
    display: block;
  }

  .menu-input:checked ~ .nav-list {
    left: 0;
  }

  .header__aside {
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 11px 0;
  }

  .logo {
    width: 122px;
    height: 26px;
  }

  .content-wrapper {
    max-width: calc(100% - 30px);
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
  }

  .preview {
    margin-bottom: 47px;
  }

  .preview__item {
    width: 56px;
    height: 59px;
  }

  .preview__item-image {
    width: 52px;
  }

  .dropdown_big {
    width: 100%;
  }

  .button_big {
    width: 100%;
  }

  .product__info {
    width: 100%;
  }

  .preview__product-wrapper {
    padding: 0;
    order: 1;
  }

  .products-wrapper {
    display: none;
  }

  .price__value {
    margin-left: 0;
    letter-spacing: 2px;
  }

  .product__metadata {
    margin-top: 9px;
  }

  .product__form-dropdown {
    margin-top: 28px;
  }
}
